body {
    font-family: 'ZCOOL XiaoWei', 'Roboto', sans-serif;
    padding: 25px;
    background-color: rgb(224, 224, 224);
}

.sliderContainer {
    width: 1000px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#sliderP {
    width: 1000px;
}

.noUi-connect {
    background: #D1D1D1;
}